body {
  position: relative;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
}

.mainTitle {
  font-size: 68px;
  margin-bottom: 24px;
}

.smallTitle {
  font-size: 11px;
  margin-bottom: 16x;
  color: #515a6e;
}

.text {
  font-size: 16px;
  margin-bottom: 36px;
  color: #565656;
}

.buttonsBox {
  display: flex;
}

.buttonNextPage {
  background-color: #11141b;
  color: #fff;
  padding: 10px 40px;
  border-radius: 16px;
  margin-right: 36px;
  cursor: pointer;
  z-index: 1;
}

.buttonPlay {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.iconPlay {
  margin-right: 16px;
}

.bannerImg {
  max-height: 520px;
}

.blush {
  position: absolute;
  opacity: 0.4;
  filter: blur(32px);
  border-radius: 50%;
}

.reviewBox {
  display: flex;
  align-items: center;
  margin-top: 36px;
}

.reviewCard {
  margin: 0 16px;
}

.reviewText {
  color: #11141B80;
}

@media (max-width: 768px) {
  .box {
    display: block;
    margin-top: 36px;
    background-image: url("/src/assets/banner-img-with-opacity.svg");
    background-repeat: no-repeat;
  }

  .blush {
    display: none;
  }

  .textSection {
    height: 100%;
    margin: 0 8px;
  }

  .bannerImg {
    display: none;
  }

  .reviewCard {
    margin: 0 4px;
  }
}
