body {
  position: relative;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-top: 128px;
}

.bannerImg {
  max-height: 520px;
}

@media (max-width: 768px) {
  .box {
    display: block;
    margin-top: 36px;
    background-image: url("/src/assets/banner-img-with-opacity.svg");
    background-repeat: no-repeat;
  }

  .bannerImg {
    display: none;
  }

  .reviewCard {
    margin: 0 4px;
  }
}
