.zIndexZero {
    z-index: 1;
}

.pageContainer {
    margin: 0;
    padding: 244px 94px;
    color: #11141B;
}

.title {
    /* font-weight: 700; */
    /* font-style: bold; */
    font-size: 46px;
    letter-spacing: 2%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.subtitle {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    color: #676767;
    margin: 22px 0;
}

.profileTitle {
    font-weight: 700;
    font-size: 18px;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 20px 87px;
    /* padding: 20px 0; */
    gap: 123px;
    /* width: 50%;
    margin-left: auto;
    margin-right: auto; */
}

.flexChild {
    width: 50%;
    flex: 1;
}

.card {
    padding: 34px;
    background-color: #FEFDFE;
    border: 1px solid #5158D22B;
    border-radius: 16px;
    min-width: 300px;
    max-width: 384px;
    /* width: 50%; */
}

.defaultButton {
    background-color: #FEFDFE;
    border: 1px solid #1A1C2533;
    padding: 1rem 1.5rem;
}

.profileFact {
    margin: 31px 0;
}

.profileLabel {
    font-weight: 600;
    font-size: 16px;
    color: #676767;
}

.profileValue {
    font-weight: 600;
    font-size: 16px;
    margin-top: 7px;
}