@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-font: "Inter", sans-serif;

  /* Colors used throughout the project */
  --learning-path-title: #11141b;
  --learning-path-subtitle: #676767;
  --learning-path-small-text: #676767d1;
  --learning-path-timeline-circle-base: #fff;
  --learning-path-timeline-variation-1: #4691fc;
  --learning-path-timeline-variation-2: #264de4;
  --learning-path-timeline-variation-3: #9747ff;
  --learning-path-timeline-variation-4: #a9f1db;
  --learning-path-timeline-variation-5: #f16529;
  --primary-button-background: #fefdfe;
  --primary-button-border: #1a1c2533;
  --secondary-button-background: #11141b;
  --secondary-button-text: #fff;
  --secondary-button-border: none;
  --button-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  --button-disabled-background: #d3d3d3;
  --button-disabled-text: #a9a9a9;
  --card-dropdown-arrow: rgba(38, 77, 228);
  --card-background: #fefdfe;
  --card-border: #5158d22b;
  --notification-text: #fff;
  --notification-default: rgba(128, 128, 128, 0.8);
  --notification-success: rgba(0, 128, 0, 0.8);
  --notification-error: rgba(192, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #34285e;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
